# ENG286 Midterm Test

### Duration: One hour, fifty minutes

### Three Parts, 38 Total Points Possible

# Part 1: Coding Exercises (10 points, ~25 minutes)

Part 1 of the exam asks you to perform a variety of coding tasks.

### Task 1 (3 points)

**Create the following three variables:**

- **`string1`: a string with a length between 5 and 10 characters**
- **`string2`: another string with a length between 10 and 20 characters**
- **`integer`: an integer between 2 and 5**

You may wish to verify your work by running `print()` on each of your newly created variables, and using `type()` to verify the type of each.

### Task 2 (3 points)

**Create the following three variables:**

* **Make `string3` by multiplying `string1` by `integer`**
* **Make `string4` by adding `string1` and `string2` together**
* **Make `boolean` by testing whether `string3` is equal to `string4`**

You may wish to verify your work by running `print()` and `type()` on each of these newly created variables.

### Task 3 (2 points)

**Create a new list variable, `list_o_strings`, which contains the values (in order) of `string1`, `string2`, `string3`, and `string4`.**

You may wish to verify your work by running `print()` on `list_o_strings`.

### Task 4 (2 points)

**Create a variable named `len_of_strings` that refers to an empty list. Using a `for` loop, iterate through the items in `list_o_strings`, finding the length (in number of characters) of each of the strings and adding these lengths, one by one, to the `len_of_strings` variable.**

You may wish to verify your work by running `print()` on `len_of_strings`.

# Part 2: Type-Token Ratios (18 points, ~45 minutes)

Part 2 of this exam consists of a TTR experiment on the chapters of Sir Arthur Conan Doyle's *The Sign of the Four*.

The code cell below calculates non-standardized and standardized Type-Token Ratios for each of the chapters in *The Sign of the Four*.

Run the cell.

In [101]:
import re
from pathlib import Path

folder_path = "sot4chaps/"

sample_size = 0

file = open("ttr-overall.csv", mode="w", encoding="utf-8")

file.write('"Text","Types","Tokens","TTR"\n')

for file_path in sorted(Path(folder_path).glob('*.txt')):
    
    text = open(file_path, encoding='utf-8').read()
    text = re.sub("[^a-zA-Z0-9]", " ", text)
    
    text_words = text.split()
    tokens = len(text_words)  
    
    if sample_size == 0 or tokens < sample_size:
        sample_size = tokens
    
    unique_words = []
    
    for word in text_words:
        word = word.lower()  
        if word not in unique_words:
            unique_words.append(word)
            
    types = len(unique_words)
    
    ttr = (types / tokens) * 100
    
    file.write(f'"{file_path.stem}",{types},{tokens},{ttr}\n')

file.close()



file = open("ttr-standardized.csv", mode="w", encoding="utf-8")

file.write('"Text","Types","Tokens","TTR"\n')

for file_path in sorted(Path(folder_path).glob('*.txt')):
    text = open(file_path, encoding='utf-8').read()
    text = re.sub("[^a-zA-Z0-9]", " ", text)
    
    text_words = text.split()
    text_words_standardized = text_words[:sample_size]
    tokens_standardized = len(text_words_standardized)

    unique_words_standardized = []
    
    for word in text_words_standardized:
        word = word.lower()
        if word not in unique_words_standardized:
            unique_words_standardized.append(word)
            
    types_standardized = len(unique_words_standardized)
    
    ttr_standardized = (types_standardized / tokens_standardized) * 100
    
    file.write(f'"{file_path.stem}",{types_standardized},{tokens_standardized},{ttr_standardized}\n')

file.close()

## Tasks 6-8: Code Rationale

This section consists of short answer questions relating to the code used above to calculate non-standardized and standardized TTRs for the chapters of *The Sign of the Four*.

### Task 6 (3 points)

**Why do we lowercase all words when calculating the number of types in a text? How would our TTR results be different if we didn't lowercase all words during this step?**

(**REPLACE THIS TEXT AND ENTER YOUR ANSWER HERE.**)

### Task 7 (3 points)

**Why do we need to remove punctuation from the text in order to accurately determine the number of types and tokens in the text? How would our TTR results be different if we didn't remove punctuation?**

(**REPLACE THIS TEXT AND ENTER YOUR ANSWER HERE.**)

### Task 8 (3 points)

**In the line of code `text = re.sub("[^a-zA-Z0-9]", " ", text)`, what does the regular expression `[^a-zA-Z9-0]` mean? How would it affect our TTR values if we instead wrote `[a-zA-Z0-9]`, so that the line of code was `text = re.sub("[a-zA-Z0-9]", " ", text)`?**

(**REPLACE THIS TEXT AND ENTER YOUR ANSWER HERE.**)

The two code cells below load the CSV files created above and display them as tables. 

The first cell gives non-standardized values, and the second gives standardized values.

Run both cells.

In [102]:
import pandas as pd 
sot4chaps_overall = pd.read_csv('ttr-overall.csv')
sot4chaps_overall

                                        Text  Types  Tokens        TTR
0                01 The Science of Deduction   1042    2986  34.896182
1               02 The Statement of the Case    714    1867  38.243171
2                  03 In Quest of a Solution    730    1769  41.266252
3        04 The Story of the Bald-Headed Man   1153    3884  29.685891
4        05 The Tragedy of Pondicherry Lodge    849    2669  31.809667
5   06 Sherlock Holmes Gives a Demonstration    964    3191  30.209966
6               07 The Episode of the Barrel   1325    4277  30.979659
7             08 The Baker Street Irregulars   1085    3412  31.799531
8                    09 A Break in the Chain   1009    3686  27.373847
9                 10 The End of the Islander   1034    3399  30.420712
10                11 The Great Agra Treasure    722    2219  32.537179
11    12 The Strange Story of Jonathan Small   1965   10445  18.812829

In [103]:
sot4chaps_standardized = pd.read_csv('ttr-standardized.csv')
sot4chaps_standardized

                                        Text  Types  Tokens        TTR
0                01 The Science of Deduction    713    1769  40.305257
1               02 The Statement of the Case    686    1769  38.778971
2                  03 In Quest of a Solution    730    1769  41.266252
3        04 The Story of the Bald-Headed Man    682    1769  38.552855
4        05 The Tragedy of Pondicherry Lodge    639    1769  36.122103
5   06 Sherlock Holmes Gives a Demonstration    635    1769  35.895986
6               07 The Episode of the Barrel    702    1769  39.683437
7             08 The Baker Street Irregulars    630    1769  35.613341
8                    09 A Break in the Chain    624    1769  35.274166
9                 10 The End of the Islander    624    1769  35.274166
10                11 The Great Agra Treasure    616    1769  34.821933
11    12 The Strange Story of Jonathan Small    618    1769  34.934992

## Tasks 9â€“11: TTR Interpretation

This section asks questions related to the results of the TTR experiment, displayed in the tables above.

### Task 9 (3 points)

**What might you learn from an experiment like this, which compares the TTRs of various parts of a single work? Why make this kind of comparison?**

(**REPLACE THIS TEXT AND ENTER YOUR ANSWER HERE.**)

### Task 10 (3 points)

**What do we actually learn from this particular TTR experiment? Which numbers strike you as the most significant?**

(**REPLACE THIS TEXT AND ENTER YOUR ANSWER HERE.**)

### Task 11 (3 points)

**What further data or information would you require to interpret these numbers more fully?**

(**REPLACE THIS TEXT AND ENTER YOUR ANSWER HERE.**)

# Part 3: Reading Response (10 points, ~25 minutes)

In our first lecture, we discussed the question of whether Sherlock Holmes is "the most objective character in *The Sign of the Four*." 

In the course of this discussion, we met the subjectivity score system that comes as part of the TextBlob package. The system automatically assigns a score between 0.0 (not at all subjective) and 1.0 (extremely subjective) to any string. 

We then looked at the following table. It shows a sorted list of all the characters in *The Sign of the Four*, ranked in terms of the average "subjectivity" of their passages of dialogue in the novel. The characters whose speech is deemed "most subjective" (and "least objective") appear at the bottom of the list.

![Table of characters in The Sign of the Four, ranked by mean subjectivity](mean_subjectivity_sot4.png)

We concluded our discussion by asking whether TextBlob's subjectivity score can itself be considered "objective." In particular, we asked "What would we need to know to answer that question?"

Many of the course readings since that first lecture have addressed these kinds of questions directly. 

### Task 12 (10 points)

**Drawing on AT LEAST ONE COURSE READING, present your current response to that question. What would we need to know in order to assess whether TextBlob's subjectivity score is itself "objective"?**

Present your answer in the Markdown cell below. Write in full sentences and paragraphs; do not use point form.

(**REPLACE THIS TEXT AND ENTER YOUR ANSWER HERE.**)

## How to Submit
1. Download your midterm Jupyter notebook to your local computer and save it as `midterm_test.ipynb`.
2. Log in here: https://markus-ds.teach.cs.toronto.edu.
3. Submit your notebook to `midterm-test`.